extends ../layout

block content
    if (errorList)
        ul
            each msg in errorList
                li= msg
    form(method="post" action= path)
      fieldset
        p
          label Pseudonyme : 
            input(type="text", name="pseudonyme", value=user.pseudonyme)
        p
          label Mél : 
            input(type="email", name="email", value=user.email)
        p
          label Prénom : 
            input(type="text", name="firstname", value=user.firstname)
        p
          label Mot de passe : 
            input(type="password", name="password")
        p
          label Vérification du mot de passe : 
            input(type="password", name="password_check")
        p
          label Nom : 
            input(type="text", name="lastname", value=user.lastname)
        input(type="submit")