extends ../layout

block content
  h1= title
  p Liste des utilisateurs :
  ul
    each user in users
      li ##{user.id} : #{user.pseudonyme} - #{user.email} - #{user.firstname} #{user.lastname} - Créé le : #{user.createdAt} - Dernières mise à jour : #{user.updatedAt}