extends ../layout

block content
    h1= title

    p Voici l'utilisateur :

    table(border=1)
        tr
            th Id
            td= user.id
        tr
            th Pseudonyme
            td= user.pseudonyme
        tr
            th Email
            td= user.email
        tr
            th Prénom
            td= user.firstname
        tr
            th Nom
            td= user.lastname