extends ../layout

block content
    if(user)
        h2 Informations de l'utilisateur n°#{user.id} :
        p ##{user.id} : #{user.pseudonyme} - #{user.email} - #{user.firstname} #{user.lastname} - Créé le : #{user.createdAt} - Dernières mise à jour : #{user.updatedAt}
    else
        h2 Impossible de trouver l'utilisateur :
        p L'identifiant utilisé ne nous a pas permis de trouver d'utilisateur dans la base de données. Si vous pensez qu'il s'agit d'une erreur, veuillez contacter l'administateur.